



/* ================Global===================== */
body{
    padding: 0px;
    margin: 0px;
    background-color: #363636;   
    font-family: 'Oswald', sans-serif;
    background-image: url(../images/blue-universe.jpg);
    background-repeat: repeat;
    background-size: 100%;
    background-blend-mode: overlay;
    
}

a{
    text-decoration: none;
    color: white;
}




@import 'index'

